 <DOCTYPE html>
    <html lang="en">
        <body>

<div class="text-center">
    <h1 class="display-4">Congregação Cristã no Brasil</h1>
</div>

<div>
    <h2>FAÇA JÁ O CADASTRO DA SUA COMUM CONGREGAÇÃO</h2>
    <button type="button" class="btn btn-primary" onclick="location.href='igrejas'">Cadastrar</button>
</div>
    </body>
</html>

